<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewBag.Title -  Alge Admin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- A Biblioteca jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- O Javascript compilado -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

   
</head>
<body>
    <div class="container-fluid">

        <div class="row" style="margin-bottom:10px; border-bottom:3px solid black">
            <div class="col-md-4 col-md-offset-4">
                <h1 style="text-align:center;">Painel Administrativo</h1>
            </div>
           
        </div>

        <div class="row">

            <div class="col-md-offset-4 col-md-4 ">
                @RenderBody()
            </div>
        </div>



    </div>
@RenderSection("Scripts", required: false)
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="~/scripts/bootstrap.min.js"></script>
    </body>
</html>
