<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
   
    <link rel="stylesheet" href="~/node_modules/bootstrap/compiler/style.css">
    <link rel="stylesheet" href="~/page-login.css">



    <title>@ViewData["Title"] - Alge</title>
</head>
<body id="fundo">
   
                @RenderBody()
            
</body>
</html>
