@model Alge.Models.Checkout.CheckoutModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Confirmação de Compra";
   
    
   

}
@using Alge;
@using BancodeImagens.DAO.Query;

<section class="container">
    <div class="row" style="margin: 3% 0 10% 0;">
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="padding: 3% 0"><h4 class="global-text-title"><i class="fa fa-shopping-cart" style="color:#bd053b; font-size:1.3em; margin-right:1%;" aria-hidden="true"></i>Confirme seu pedido</h4></div>
            </div>
        </div>
        
    </div>

</section>


